@font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext)
    format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.topo {
    max-width: 100%;
    height: 4.3rem;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;

}


.logo-riot {
    width: 4.3rem;
    height: 1.5rem;
    position: absolute;
    left: 1.8rem;

}

.logo-lol {
    width: 4.3rem;
    height: 1.5rem;
}


.navbar {
    width: 6rem;
    position: relative right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 1.8rem;
    align-items: center;
}

@media (min-width: 700px) {
    .navbar {
        width: 11.5rem;
        flex-direction: row;
    }
}

.navbar .btn-sobre {
    border: none;
    color: #F9F9F9;
    background-color: #111111;
    cursor: pointer;
    font-size: 0.8rem;
}

.navbar a {
    text-decoration: none;
    color: #F9F9F9;
    font-size: 0.8rem;
}

.mobile-navbar{
    position: absolute;
    right: 1.8rem;
    cursor: pointer;
    display: none;
}

h1, h2 {
    font-weight: 500;
}

#main-content {
    width: 100%;
    height: 100vh;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/jinx\ background2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20rem;
}

#main-content h1 {
    width: 18.7rem;
    text-align: center;
}

#main-content button {
    width: 9.3rem;
    height: 3.1rem;
    border: none;
    background-color: #C2902D;
    color: #F9F9F9;
    border-radius: 2.5rem;
    font-size: larger;
}

#main-content button:hover, .voltar:hover{
    transform: scale(1.1);
    transition: 0.5s;
    transition-delay: 0.2s;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100vh;
    background-image: url(./img/background-sobre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal .voltar {
    width: 7.8rem;
    height: 2.5rem;
    margin-top: 2.5rem;
    background-color: #006680;
    border: none;
    border-radius: 1rem;
    color: #FFFFFF;
    font-size: medium;
}

.sobre {
    max-width: 18.7rem;
    height: 16.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #292929f1;
    border-radius: 1.8rem;
    color: #FFFFFF;
    padding: 0 1.2rem;
}

.sobre h1 {
    text-align: center;
}

.sobre p {
    text-align: justify;
}

.cards {
    width: 100%;
    height: auto;
    background-color: #F9F9F9;
    display: none;
    flex-direction: column;
    align-items: center;
}

.cards .titulo-card-page {
    width: 11.1rem;
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: center;
}

.form {
    border-top: 1px solid;
}

.form .search-part {
    height: 1rem;
    align-items: center;
}

.form .label-search {
    margin-right: 0.5rem;
}

.form .lupa {
    width: 0.8rem;
    height: 0.8rem;
}

.form .search {
    max-width: 2rem;
    border: none;
    outline: 0;
    color: #C2902D;
    background-color: #F9F9F9;
}
.form .tags , .form .diff, .form .sort {
    font-size: 0.61rem;
    border: none;
    color: #C2902D;
    background-color: #F9F9F9;
}

.form .tags, .form .diff {
    width: auto;
    margin-right: 0.3rem;
}

.form, .media {
    font-size: small;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C2902D;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #A7A1A1;
}

.media {
    display: none;
}

.all-cards {
    width: auto;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0;
}

@media (min-width: 750px) {
    .form {
        justify-content: space-evenly;
    }
    .form .search {
        min-width: 7rem;
    }

    .form .lupa {
        width: 1rem;
        height: 1rem;
    }

    .cards .titulo-card-page {
        min-width: 19rem;
    }

    .titulo-card-page h1 {
        font-size: 2.5rem;
    }
    
    .all-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form .tags, .form .diff, .form .sort {
        font-size: 1rem;
    }
    
    .form .tags {
        min-width: 12rem;
    }

    .form .diff {
        min-width: 13rem;
    }

    .titulo-card-page {
        min-width: 12rem;
    }

    .card-container {
        width: 15rem;
        height: 19rem;
    }

    .card-front, .card-hover {
        width: 100%;
        height: 100%;
    }

    .card-front img, .card-hover ul {
        width: 15rem;
        height: 17rem;
    }
}

@media (min-width: 1000px) {
    .cards {
        min-width: 100%
    }

    .all-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card-container {
        width: 16rem;
        height: 20rem;
    }

    .card-front img, .card-hover ul {
        width: 16rem;
        height: 18rem;
    }
}

.all-cards h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2rem;
    color: #F9F9F9;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    width: 10rem;
    height: 12.5rem;
}

.card-container-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.card-container:hover .card-container-inner {
    transform: rotateY(180deg);
}

.card-front, .card-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #061C25;
    padding: 0;
    backface-visibility: hidden;
}

.card-front img, .card-hover ul {
    width: 10rem;
    height: 10.5rem;
    margin: 0;
    padding: 0;
}

.card-front h2 {
    height: 2rem;
}

.card-hover {
    background-color: #006680;
    transform: rotateY(180deg);
}

.card-hover ul {
    list-style: none;
    color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-hover li {
    border-bottom: solid 2px #C2902D;
    font-size: smaller;
}

.card-hover h2 {
    background-color: #061C25;
    height: 2rem;
}

footer {
    max-width: 100%;
    height: 12.5rem;
    background-color: #292929;
    border-top: #C2902D solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem;
}

.navbar-footer {
    display: flex;
    flex-direction: column;
    height: 3.1rem;
    justify-content: space-around;
}

.navbar-footer a {
    text-decoration: none;
    color: #F9F9F9;
    font-size: 0.8rem;
}

.download-links {
    height: 6.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.download-links img{
    width: 9.3rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
}

